absl-py
albucore
albumentations
altair
altgraph
annotated-types
appnope
asttokens
astunparse
attrs
bayesian-optimization
blinker
cachetools
certifi
charset-normalizer
click
colorama
comm
contourpy
cycler
debugpy
decorator
eval_type_backport
exceptiongroup
executing
flatbuffers
fonttools
future
gast
gitdb
GitPython
google-pasta
grpcio
h11
h5py
idna
imageio
imgaug
importlib_metadata
importlib_resources
ipykernel
ipython
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
keras
kiwisolver
lazy_loader
libclang
macholib
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
ml_dtypes
namex
narwhals
nest-asyncio
networkx
numpy
opencv-contrib-python
opencv-python
opencv-python-headless
opt_einsum
optree
outcome
packaging
pandas
parso
patsy
pexpect
pillow
platformdirs
prompt_toolkit
protobuf
psutil
ptyprocess
pure_eval
pyarrow
pydantic
pydantic_core
pydeck
Pygments
pyparsing
PySocks
python-dateutil
python-dotenv
pytz
PyYAML
pyzmq
referencing
requests
rich
rpds-py
scikit-image
scikit-learn
scipy
seaborn
selenium
shapely
simsimd
six
smmap
sniffio
sortedcontainers
stack-data
statsmodels
streamlit
stringzilla
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
tifffile
toml
tornado
traitlets
trio
trio-websocket
typing-inspection
typing_extensions
tzdata
urllib3
wcwidth
webdriver-manager
websocket-client
Werkzeug
wrapt
wsproto
xgboost
zipp
